body, html {
  height: 100%;
}
.main {
  margin: 50px 30px 30px 30px;
}
.navbar {
  border-radius: 0;
}
.login-form {
  margin: 50px auto 0 auto;
  max-width: 400px;

  h4 {
    margin: 0 0 24px 0;
    text-align: center;
  }
}
.center {
  text-align: center;
}
.grey {
  color: #bdc3c7;
}

#create-stories {
  margin-top: 50px;
  background-color: #edeff1;
  border-radius: 7px;
  padding: 0 50px 30px 0;

  h2 {
    margin: 40px 0;
  }

  .story-details {
    float : right;
  }
}
#user-profile {
  background-color: #2C3E50;;
  border-radius: 7px;
  overflow: hidden;
  margin-top: 50px;

  img {
    border-radius: 100%;
    width: 100%;
    padding: 20px;
  }
  h2 {
    font-size: 1.5em;
    margin-top: 0;
  }
  h3 {
    font-size: 1em;
  }
  p {
    font-size: 0.9em;
  }
}
.user-info {
  color: #eee;
  height: 100%;
  text-align: center;
}
.story-group {
  margin: 20px 0;

  header {
    border-radius: 7px 7px 0 0;
    font-size: 1.5em;
    color: #34495E;
    background-color: #1ABC9C;
    padding: 5px 10px;
  }
  a {
    display: block;
    padding: 5px 10px;
    background-color: white;

    &:hover{
      color: #1ABC9C;
    }
    &:last-of-type {
      border-radius: 0 0 7px 7px;
    }
  }
}
.stories {
  background-color: #34495E;
}
.float-right {
  float: right;
}