body, html {
  height: 100%;
}
.main {
  margin: 50px 30px 30px 30px;
}
.navbar {
  border-radius: 0;
  
  img {
    height: 23px;
    border-radius: 100%;
    margin: 0 10px;
  }
}
.login-form {
  margin: 50px auto 0 auto;
  max-width: 400px;

  h4 {
    margin: 0 0 24px 0;
    text-align: center;
  }
}
.center {
  text-align: center;
}
.grey {
  color: #bdc3c7;
}

#create-stories {
  margin-top: 50px;
  background-color: #edeff1;
  border-radius: 7px;
  padding: 0 50px 30px 0;

  h2 {
    float: left;
    margin: 70px 0 0 40px;
  }

  .story-details {
    float : right;
  }
}
.container-dark {
  background-color: #2C3E50;
  border-radius: 7px;
  overflow: hidden;
  margin-top: 50px;
  padding: 20px;

  h1 {
    color: white;
    margin: 0 20px 20px 20px;
  }
}
.story-row {
  display: block;
  padding: 10px 10px;
  background-color: white;
  border-bottom: 1px solid #eee;
  transition: 0.25s ease-in-out;

  &:hover{
    color: #1ABC9C;
    background-color: #f4f9f8;
  }
  &:last-of-type {
    border-radius: 0 0 7px 7px;
  }
}
#user-profile {
  background-color: #2C3E50;
  border-radius: 7px;
  overflow: hidden;
  margin-top: 50px;

  img {
    border-radius: 100%;
    width: 100%;
    padding: 20px;
  }

  h2 {
    font-size: 1.5em;
    margin-top: 0;
  }
  h3 {
    font-size: 1em;
  }
  p {
    font-size: 0.9em;
  }
}
.user-info {
  color: #eee;
  height: 100%;
  text-align: center;
}
.story-group {
  margin: 20px 0;

  a {
    display: block;
    padding: 5px 10px;
    background-color: white;

    &:hover{
      color: #1ABC9C;
    }
    &:last-of-type {
      border-radius: 0 0 7px 7px;
    }
  }
}
.story-details{
  margin: 20px 0 0 0;
  padding: 0px;

  header {
    font-size: 1em;
    font-variant: small-caps;
    padding-left: 1em;
  }  

  .details-items {
    border: 1px solid #CCC;
    padding: .5em;
    background-color: white;
    border-radius: 0 0 .5em .5em;
  }

  ul {
    list-style-type: none; 
    padding-left: 4em; 
  }

  li {
    font-size: .75em;
  }

  .thumb {
    float: left;
    margin: 6px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
  }

}

.clear-both {
  clear: both;
}
header {
  border-radius: 7px 7px 0 0;
  font-size: 1.5em;
  color: #34495E;
  background-color: #1ABC9C;
  padding: 5px 10px;
}
