body, html {
  height: 100%; }

.main {
  margin: 50px 30px 30px 30px; }

.navbar {
  border-radius: 0; }
  .navbar img {
    height: 23px;
    border-radius: 100%;
    margin: 0 10px; }

.login-form {
  margin: 50px auto 0 auto;
  max-width: 400px; }
  .login-form h4 {
    margin: 0 0 24px 0;
    text-align: center; }

.center {
  text-align: center; }

.grey {
  color: #bdc3c7; }

#create-stories {
  margin-top: 10px;
  background-color: #edeff1;
  border-radius: 7px;
  padding: 0 50px 30px 0; }
  #create-stories h2 {
    float: left;
    margin: 60px 0 40px 40px; }
  #create-stories .story-details {
    float: right; }

.container-dark {
  background-color: #2C3E50;
  border-radius: 7px;
  overflow: hidden;
  margin-top: 50px;
  padding: 20px; }
  .container-dark h1 {
    color: white;
    margin: 0 20px 20px 20px;
    font-size: 2.5em; }

.story-row {
  display: block;
  padding: 10px 10px;
  background-color: white;
  border-bottom: 1px solid #eee;
  transition: 0.25s ease-in-out; }
  .story-row:hover {
    color: #1ABC9C;
    background-color: #f4f9f8; }
  .story-row:last-of-type {
    border-radius: 0 0 7px 7px; }

#user-profile {
  background-color: #2C3E50;
  border-radius: 7px;
  overflow: hidden;
  margin-top: 50px; }
  #user-profile img {
    border-radius: 100%;
    width: 100%;
    padding: 20px; }
  #user-profile h2 {
    font-size: 1.5em;
    margin-top: 0; }
  #user-profile h3 {
    font-size: 1em; }
  #user-profile p {
    font-size: 0.9em; }

.user-info {
  color: #eee;
  height: 100%;
  text-align: center; }

.story-group {
  margin: 20px 0; }
  .story-group a {
    display: block;
    padding: 5px 10px;
    background-color: white; }
    .story-group a:hover {
      color: #1ABC9C; }
    .story-group a:last-of-type {
      border-radius: 0 0 7px 7px; }

.story-details {
  margin: 20px 0 0 0;
  padding: 0px; }
  .story-details header {
    font-size: 1em;
    font-variant: small-caps;
    padding-left: 1em; }
  .story-details .details-items {
    border: 1px solid #CCC;
    padding: .5em;
    background-color: white;
    border-radius: 0 0 .5em .5em; }
  .story-details ul {
    list-style-type: none;
    padding-left: 4em; }
  .story-details li {
    font-size: .75em; }
  .story-details .thumb {
    float: left;
    margin: 6px;
    height: 60px;
    width: 60px;
    border-radius: 100%; }

.stories {
  background-color: #34495E; }

.clear-both {
  clear: both; }

header {
  border-radius: 7px 7px 0 0;
  font-size: 1.5em;
  color: #34495E;
  background-color: #1ABC9C;
  padding: 5px 10px; }

.custom-alert {
  width: 70%;
  border-radius: 7px;
  margin: 0 auto; }

.float-right {
  float: right; }

.sidebar {
  margin: 50px 0 0 0;
  padding: 20px;
  background-color: #2C3E50;
  border-radius: 7px; }
  .sidebar h1 {
    color: white;
    font-size: 2.5em;
    margin: 0 20px 20px 20px; }

.member-row {
  overflow: hidden;
  display: block;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid #eee;
  transition: 0.25s ease-in-out; }
  .member-row:hover {
    color: #1ABC9C;
    background-color: #f4f9f8; }
  .member-row img {
    width: 30px;
    border-radius: 25px;
    float: left; }
  .member-row p {
    display: block;
    float: left;
    margin: 0 0 0 20px; }

.members-list {
  border-radius: 7px;
  overflow: hidden; }
