<div class="container col-sm-2">
  <div class="sidebar">
    <h1>Members</h1>
    <div class="members-list">
      <% get_team_users.each do |user| %>
        <a href="/users/<%= user.id %>" class="member-row">
          <% if user.file.file %>
            <img src="<%= user.file %>">
          <% else %>
            <img src="https://www.libstash.com/public/avatars/default.png">
          <% end %>
          <p><%= user.name %></p>
          <div class="assigned"><%= Story.where(assignee_id: user.id).count %></div>
        </a>
      <% end %>
    </div>
  </div>
</div>