<div class="container col-sm-2">
  <div class="sidebar">
    <h1>Members</h1>
    <div class="members-list">
      <% get_team_users.each do |user| %>
        <a href="/users/<%= user.id %>" class="member-row">
          <img src="<%= user.file %>">
          <p><%= user.name %></p>
          <p><%= Story.where(assignee_id: user.id).count %></p>
        </a>
      <% end %>
    </div>
  </div>
</div>