<div class="container-dark col-sm-7 col-sm-offset-1">
  <h1>All Stories</h1>
  <div class="col-sm-12" id="story-table">
    <header class="row">
      <div class="col-sm-1"><h4>ID<span class="fui-triangle-right-large icon" onclick="listBy('id', Number)"></span></h4></div>
      <div class="col-sm-6"><h4>Title <span class="fui-triangle-up icon" onclick="listBy('role', function(a){return a.toUpperCase()})"></span></h4></div>
      <div class="col-sm-2"><h4>Creator <span class="fui-triangle-right-large icon" onclick="listBy('user_id', Number)"></span></h4></div>
      <div class="col-sm-2"><h4>Assignee <span class="fui-triangle-right-large icon" onclick="listBy('assignee_id', Number)"></span></h4></div>
      <div class="col-sm-1"><span class="fui-alert-circle"></span><span class="fui-triangle-right-large icon" onclick="listBy('priority', Number)"></span></div>
    </header>
  </div>
</div>
<script src="/js/stories.js"></script>
<%= erb :'/users/_sidebar' %>