<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/flat-ui.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>User Story Generator</title>
</head>
<body>

  <%= yield %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/flat-ui.min.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
