<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/flat-ui.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>User Story Generator</title>
</head>
<body>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Thumpr</a>
    </div>
    <div class="nav navbar-nav navbar-left">
      <li><a href="/stories/all">All Stories</a></li>
      <% if user_logged_in? %>
        <li><a href="/stories/new">New Story</a></li>
      <% end %>
    </div>
    <div class="nav navbar-nav navbar-right">
      <% if user_logged_in? %>
        <li><a href="/signout">Sign Out</a></li>
      <% else %>
        <li><a href="/register">Register</a></li>
        <li><a href="/signin">Sign In</a></li>
      <% end %>
    </div>
  </nav>
  <%= yield %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/flat-ui.min.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
